PORT=8080
NODE_ENV=development

# Runtime environment selector: dev | test | prod
APP_ENV=dev

GCP_PROJECT_ID=master-diorama-489103-u2
GCP_REGION=asia-south1

# Environment-specific GCS buckets
DEV_GCS_BUCKET_NAME=refex-p2p-generated-pdfs-dev
TEST_GCS_BUCKET_NAME=refex-p2p-generated-pdfs-test
PROD_GCS_BUCKET_NAME=refex-p2p-generated-pdfs-prod

# Kissflow - DEV
DEV_KISSFLOW_BASE_URL=https://development-refexgroup.kissflow.com
DEV_KISSFLOW_ACCOUNT_ID=AcCMptp3yqcn
DEV_KISSFLOW_ACCESS_KEY_ID=Ak4ccaf962-9fd0-4b1e-9e8c-8d15e57f4bfe
DEV_KISSFLOW_ACCESS_KEY_SECRET=F6MW2KZmIGO482iR-SpVZov6osxIdauB5oUax5YsyFr7yP6zmuIUjHkuo5Q952mjXxbo9D-uI7LioNo7kt5g

# Kissflow - TEST
TEST_KISSFLOW_BASE_URL=https://uat-refexgroup.kissflow.com/
TEST_KISSFLOW_ACCOUNT_ID=AcCixZs0gi4H
TEST_KISSFLOW_ACCESS_KEY_ID=Ak648b1057-5215-4b69-ab08-e8abad5ca14a
TEST_KISSFLOW_ACCESS_KEY_SECRET=8bMUv4hUVUwjzela2Qqy9b3VhUMhPMeIKPI0BG4ubItCggzKykwSq-75KUjM8PhrYRlIkn7YsN-t3DoARw

# Kissflow - PROD
PROD_KISSFLOW_BASE_URL=https://refexgroup.kissflow.com/
PROD_KISSFLOW_ACCOUNT_ID=AcCMptlq60zH
PROD_KISSFLOW_ACCESS_KEY_ID=Aka3860165-3f80-4a62-a436-528eba30af3f
PROD_KISSFLOW_ACCESS_KEY_SECRET=C1ZZXa2O3l0J6GLkuEs13HuGvwJMm1IxSp3NvQHcQ1tY3z9Rdp05HEOAmaLBygze8AHyNiu765iuSGlUjBpQ

PDF_SIGNED_URL_TTL_MINUTES=240

# Kissflow Procure2Pay model IDs
COMPANY_LETTERHEAD_DATAFORM_ID=Company_Letterhead_Master_A00
PO_ANNEXURE_MASTER_DATAFORM_ID=PO_Annexure_Master_A00

# Kissflow Procure2Pay process IDs
PURCHASE_ORDER_PROCESS_ID=P2P_One_A00
PURCHASE_ORDER_LINE_ITEMS_TABLE_ID=Copy_PR_Line_Items

